<!doctype html>
<html lang = "en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    @font-face {font-family: 'netmarbleB';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');font-weight: normal;font-style: normal; } 
    @font-face {font-family: 'GyeonggiBatang';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');font-weight: normal;font-style: normal; } 
    </style>
</head>

<body>
<h1 style = "font-family:'netmarbleB';">About</h1>

<p style = "font-family:'GyeonggiBatang';">멋쟁이 사자처럼 7기 김윤아가 만든 작품입니다.</p>
<p style = "font-family:'GyeonggiBatang';">단어를 세주죠</p>

<a href="{% url 'home' %}" class="btn btn-warning">Go back<a>
</body>
